<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Junta</title>
    <!-- Enlaza el archivo CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <!-- Encabezado -->
    <header>
      <a href="#" id="wallet-btn">Wallet</a>
    </header>
    <!-- Contenido principal -->
    <main>
      <form
        id="crear-junta-form"
        method="POST"
        action="{{ url_for('crear_junta') }}"
      >
        <div id="validacion-container">
          <label for="participantes">Número de Participantes:</label>
          <input
            type="number"
            id="participantes"
            name="participantes"
            min="3"
            max="18"
            required
          /><br />
          <label for="monto">Monto a Aportar cada Mes:</label>
          <input
            type="number"
            id="monto"
            name="monto"
            min="30"
            max="300"
            required
          /><br />
          <button
            type="button"
            id="validar-datos-btn"
            class="validar-datos-btn"
          >
            Validar Datos
          </button>
        </div>
        <div id="direcciones-billetera"></div>
        <div id="monto-a-sortear"></div>
        <button
          type="submit"
          id="crear-junta-btn"
          class="crear-junta-btn"
          style="display: none"
        >
          Crear Junta
        </button>
      </form>
    </main>
    <!-- Enlaza el archivo JavaScript -->
    <script src="{{ url_for('static', filename='crear_junta.js') }}"></script>
  </body>
</html>
