<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Junta de Dinero</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="#" id="wallet-btn">Wallet</a>
    </header>
    <main>
      <h1>Bienvenido a Junta de Dinero</h1>
      <p>Seleccione una opción:</p>
      <a href="/crear_junta" class="crear-junta-btn">Crear una junta</a>
      <a href="/unirse_junta" class="unirse-junta-btn">Unirse a una junta</a>
    </main>
  </body>
</html>
