<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados de la Junta</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Resultados de la Junta</h1>
    <!-- Mostrar el monto que se va a sortear -->
    <p>Monto total a sortear: {{ monto_sorteo }} soles</p>
    <h2>Ganadores:</h2>
    <ul>
      {% for ganador in ganadores %}
      <li>{{ ganador }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
