<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="#" id="wallet-btn">Wallet</a>
    </header>
    <main>
      <h1>Ganadores del Sorteo</h1>
      <p>A continuación se muestran los ganadores:</p>
      <ul>
        {% for ganador in ganadores %}
        <li>{{ ganador }}</li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
