<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados</title>
    <!-- Vincular el archivo CSS común -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <!-- Contenido de la página resultados.html -->
    <h1>Resultados del Sorteo</h1>
    <div id="ganadores"></div>
    <!-- Aquí se mostrarán los ganadores -->
    <!-- Vincular el archivo JavaScript específico para esta página -->
    <script src="{{ url_for('static', filename='resultados.js') }}"></script>
  </body>
</html>
